<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width">
</head>
<body>
{% include "header.html" %}
<div id="page">
  <div class="entry-content">
    <div id="left-bar">
      <div>{% include sidebar_var %}</div>
    </div>
    <div id="main-content">
   <h1>Welcome</h1>
<h2>Vision and Mission</h2>
<p>Founded in 1977 by a group of community residents, Milford Housing Development Corporation(MHDC) is a value-driven housing developer, offering a sensible approach in a caring environment, and providing high-quality 
affordable housing solutions. With a full-continuum of housing programs, MHDC has steadily grown into Delaware's leading nonprofit provider of affordable housing.</p>
<h2>Online Help</h2>
<p>This new web app is now available for online submissions and we hope it can expedite the process!</p>        </div>
  </div>
</div>
</body>
</html>
