
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>

<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/cfg.css"> 
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/custom.css"> 

<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" /> 

<div id="logo-container">
	<div id="logo-box"><a href="/"><img src="{{STATIC_URL}}images/logo.png"></a></div>
</div>
<div id="nav-container">
	<nav id="access" role="navigation">
		<h3 class="assistive-text">Main menu</h3>
				<div class="skip-link"><a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a></div>
		<div class="skip-link"><a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a></div>
				<div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li class="menu-item  "><a href="">Apply</a></li><li class="menu-item"><a href="http://milfordhousing.com/about">About</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://milfordhousing.com/about/board-of-directors">Board of Directors</a></li>
	<li class="menu-item"><a href="http://milfordhousing.com/about/staff">Staff</a></li>
	<li class="menu-item"><a href="http://milfordhousing.com/about/statement-of-values">Mission, Values, &amp; Vision</a></li>
</ul>
</li>
<li class="menu-item"><a href="http://milfordhousing.com/get-involved">Get Involved</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://milfordhousing.com/get-involved/donate">Donate</a></li>
	<li class="menu-item"><a href="http://milfordhousing.com/get-involved/volunteer">Volunteer</a></li>
	<li class="menu-item"><a href="http://milfordhousing.com/job-opportunities-3">Job Opportunities</a></li>
</ul>
</li>
<li class="menu-item"><a href="http://milfordhousing.com/rental">Rental</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://milfordhousing.com/kent-county">Kent County</a></li>
	<li class="menu-item"><a href="http://milfordhousing.com/new-castle-county">New Castle County</a></li>
	<li class="menu-item"><a href="http://milfordhousing.com/sussex-county">Sussex County</a></li>
</ul>
</li>
<li class="menu-item"><a href="http://milfordhousing.com/home-ownership">Home Ownership</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://milfordhousing.com/home-ownership/new-construction">New Construction</a></li>
	<li class="menu-item"><a href="http://milfordhousing.com/home-ownership/revitalization">Preservation</a></li>
	<li class="menu-item"><a href="http://milfordhousing.com/home-ownership/self-help-housing">Self-Help Housing</a></li>
</ul>
</li>
<li class="menu-item"><a href="http://milfordhousing.com/home-repair">Home Repair Project</a></li>
<li class="menu-item"><a href="http://milfordhousing.com/other-services/financial-fitness">Financial Fitness</a></li>
<li class="menu-item"><a href="http://milfordhousing.com/other-services/site-development">Site Development</a></li>
<li class="menu-item"><a href="http://milfordhousing.com/contact-us">Contact Us</a></li>
</ul></div>	</nav><!-- #access -->
</div>

