<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width">
</head>
<body>
{% include "header.html" %}
<div id="page">
  <div class="entry-content">
    <div id="left-bar">
      <div>{% include sidebar_var %}</div>
    </div>
    <div id="main-content">
      <a class="formLink" href="/self_help_app/"><p>Self Help App</p></a><br/>
      <a class="formLink" href="/home_repair_app/"><p>Home Repair App</p></a>
    </div>
  </div>
</div>
</body>
</html>
