<html>
<head>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/cfg.css"> 
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/custom.css"> 
</head>
<body>
{% include "header.html" %}
<div id="page">
  <div class="entry-content">
    <div id="left-bar">
      <div>{% include "staff_sidebar.html" %}</div>
     </div>
    <div id="main-content">
      <a href="/self_help_app/"><p>Self Help App</p></a>
    </div>
  </div>
</div>
</body>
</html>

