<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/cfg.css"> 
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/custom.css"> 
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/stats.css"> 

</head>
<body>
{% include "header.html" %}
<div id="page">
  <div class="entry-content">
    <div id="left-bar">
      <div>{% include "user_sidebar.html" %}</div>
    </div>
    <div id="main-content">
      <span class="largeTitle">Fun Facts about our company:</span>
      <ul>
      <li class="count">We have a total of {{stats.count}} users!</li>
      <li class="percentDisabled">Currently, {{stats.percentDisabled}}% of our clients are disabled.</li>

      <li class="count">We are also proud that {{stats.percentVeteran}}% of our clients are veterans. We support our troops!</li>

      <hr>
      <div class="age">
      <span class="title">Table 1. The demographics of our clients by age.</span>
	<table border="1">
		<tr>
		<td>Age Brackets</td>	
		<td>Percent</td>	
		</tr>
		
		<tr>
		<td>Under 25</td>	
		<td>{{ stats.ageDemos.under25 }}</td>	
		</tr>
		
		<tr>
		<td>25 - 40</td>	
		<td>{{stats.ageDemos.under40}}</td>	
		</tr>
		
		<tr>
		<td>41 - 65</td>	
		<td>{{stats.ageDemos.under65}}</td>	
		</tr>
		
		<tr>
		<td>65 and over</td>	
		<td>{{stats.ageDemos.over65}}</td>	
		</tr>
		
		<tr>
		<td>Average Age</td>	
		<td>{{stats.avgAge}}</td>	
		</tr>
	</table>
      </span>
      </div>


      <hr>
      <div class="race">
      <span class="title">Table 2. The demographics of our clients by race.</span>
	<table border="1">
		<tr>
		<td>Race</td>	
		<td>Percent</td>	
		</tr>
		
		<tr>
		<td>White</td>	
		<td>{{stats.raceDemos.w}}</td>	
		</tr>
		
		<tr>
		<td>African American</td>	
		<td>{{stats.raceDemos.b}}</td>	
		</tr>
		
		<tr>
		<td>Hispanic</td>	
		<td>{{stats.raceDemos.h}}</td>	
		</tr>
		
		<tr>
		<td>Other</td>	
		<td>{{stats.raceDemos.o}}</td>	
		</tr>
	</table>
      </span>
      </div>

    </ul>
    </div>
  </div>
</div>
</body>
</html>
