<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/cfg.css">
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/custom.css">
</head>
<body>
{% include "header.html" %}
<div id="page">
   <div id="main-content">
   <p>Thank you for submiting your form! We will get back to you as soon as possible. Please return to the home page now</p>
	<a href="index.html">Home</a>
	</div>
  </div>
</div>
</body>
</html>



